body{background-color: #26272F;
     font-family: Arial;}


#main-container{margin: 40px auto;
	            width: 750px;}

thead{background-color: #246355;
      border-bottom: solid 5px #0F360D;
      color: white;}


table {border: 2px solid #000;
       border-collapse: collapse;
       width: 700px; 
       background-color: white;}

tr:hover td {background: #ccc;
                   color: black;}

/* Toma las celdas pares (hijas) y dales color*/
tr:nth-child(even){background-color: #ddd;}

table td {padding: 10px;}
